/* 1. Load the font */
@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl Cond";
  src: url("../fonts/SuisseIntlCond-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #cacaca;
  --color-primary: #6d1313;
  --color-primary-light: #f0dbdb;
  --color-secondary: #400707;
  --color-primary-button: #c80f0f;

  --gradient-dark-red: linear-gradient(180deg,
      var(--color-dark-red) 0%,
      var(--color-dark-red-50) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Suisse Intl", sans-serif;
  overflow-x: hidden;
  cursor: url('img/move-arrow.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Suisse Intl Cond", sans-serif;
  font-weight: bold;
}

.btn-primary-custom {
  background-color: var(--color-primary-button);
  color: var(--color-white);
  padding: 12px 15px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: "Suisse Intl Cond", sans-serif;
}

.secondary-custom-btn {
  background-color: rgba(255, 255, 255, 0.15);
  height: 48px;
  display: flex;
  align-items: center;
}

/* Navbar-section --------------- */

.navbar {
  background-color: rgba(54, 54, 54, 0.253);
  padding: 14.3px 64px;
  height: auto;
  backdrop-filter: blur(10px);
}

.navbar-inner {
  background-color: rgba(54, 54, 54, 0.253);
  backdrop-filter: blur(10px);
}

.navbar-brand {
  color: var(--color-white);
  font-family: "Suisse Intl Cond", sans-serif;
  font-weight: bold;
  letter-spacing: -3%;
  line-height: 130%;
  font-size: 28px;
}

.nav-item .nav-link {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  font-family: "Suisse Intl Cond", sans-serif;
}

.nav-item .nav-link .active {
  color: var(--color-black) !important;
}

.menu-icon {
  position: relative;
  width: 24px;
  height: 16px;
  display: inline-block;
  color: var(--color-black) !important;
}

.menu-icon .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  left: 0;
}

.menu-icon .top {
  top: 0;
}

.menu-icon .bottom {
  bottom: 0;
}

.mobile-footer {
  padding-top: 15px;
  border-top: 1px solid rgb(255, 255, 255, 0.5);
  margin-top: 15px;
  font-size: 14px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 5%;
}

.mobile-footer .social-icons a {
  margin-left: 10px;
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.mobile-footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}

.mobile-footer-inner span {
  color: var(--color-primary-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a i {
  font-size: 18px;
}

.home-nav-btn-align {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* hero section ------------------ */

.hero-section {
  height: 830px;
}

.hero-bg-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero-overlay {
  background: linear-gradient(90deg, rgba(43, 8, 8, 1) 0%, rgba(43, 8, 8, 0.5));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero-text h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-white);
  opacity: 0.5;
}

.hero-content-align {
  align-items: center;
  padding: 12rem 0;
}

.slider-phase {
  display: inline-block;
  position: relative;
  width: 98%;
}

.cloth-card {
  width: 320px;
  height: 360px;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
}

.cloth-slide-image {
  text-align: center;
  padding-top: 20px;
}

.cloth-slide-image img {
  max-height: 290px;
  width: auto;
}

.cloth-slide-text {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cloth-slide-text::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.slide-text-one {
  margin: 0;
  color: var(--color-primary-button);
  font-weight: bold;
  text-transform: uppercase;
}

.slide-text-two {
  margin: 0;
  color: var(--color-black);
  font-weight: 500;
}

.labels-show-box {
  width: 220px;
  height: 164px;
  background-color: var(--color-white);
  border-radius: 12px;
  position: absolute;
  bottom: 20%;
  left: -50%;
}

.show-box-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(245, 245, 245, 1);
}

.show-box-one p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 500;
  color: var(--color-black);
}

.show-box-one i {
  color: var(--color-black-light) !important;
}

.logo-uplode-icon {
  position: relative;
}

.logo-uplode-icon::after {
  position: absolute;
  content: "";
  background: url(../img/file-up.png);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  top: -25px;
  right: -85px;
}

.box-secondary {
  background-color: #f2f2f2;
  position: relative;
}

.color-show-box {
  background-color: var(--color-white);
  height: 197px;
  width: 180px;
  border-radius: 12px;
  position: absolute;
  right: -45%;
  top: -8%;
}

.color-box-one {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin: 0 0.2rem;
  padding: 0.5rem 0.5rem;
}

.color-box-one i {
  font-size: 12px;
}

.color-box-one p {
  margin-bottom: 0;
}

.service-box-add {
  background-color: var(--color-primary-light);
  padding: 6.2rem 0;
}

.service-box {
  padding: 20px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  height: 100%;
}

.service-box:hover {
  transform: scale(1.1) !important;
}

.service-box-img {
  width: 40px;
  height: 40px;
  filter: brightness(0) saturate(100%) invert(30%) sepia(100%) saturate(1000%) hue-rotate(0deg) brightness(53%) contrast(130%);
  margin-right: 15px;
}

.service-title-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.service-box i {
  font-size: 40px;
  color: var(--color-primary-button);
  margin-bottom: 1rem;
}

.service-box h6 {
  font-weight: bold;
  color: var(--color-primary);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0;
}

.service-box p {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.brand-clothing {
  padding: 6.2rem 0;
}

.cloth-content-section {
  align-items: center;
}

.cloth-all-text .clothing-heading {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0 !important;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-black);
}

.cloth-all-text .clothing-paragraph {
  color: var(--color-black);
  line-height: 150%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
}

#moving-img {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
}

.color-box-highlight {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.our-gallery {
  background-color: var(--color-black);
  padding: 7.9rem 0;
}

.gallery-content {
  margin-bottom: 5rem;
}

.gallery-content .gallery-heading {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 700;
}

.gallery-content .gallery-title {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-white);
  font-weight: 400;
}

.gallery-slide {
  /* width: 84.5%; */
  margin: 0 0 0 auto;
  overflow-x: hidden;
}

.our-gallery-images {
  position: relative;
  padding-bottom: 10px;
}

.swiper-slide {
  width: 416px;
  height: 416px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.our-gallery-next-btn::after,
.our-gallery-prev-btn::after {
  display: none !important;
  content: none !important;
}

.swipe-btn-align {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 65px;
  padding-right: 1.5rem;
}

.our-gallery-prev-btn,
.our-gallery-next-btn {
  position: static !important;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-gallery-prev-btn i,
.our-gallery-next-btn i {
  font-size: 16px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.our-gallery-prev-btn:hover i,
.our-gallery-next-btn:hover i {
  transform: scale(1.1);
}

.our-gallery-pagination {
  position: unset;
  text-align: unset;
  margin-top: 65px;
}

.slider-gallery .gallery-image-size {
  height: 416px;
  width: 416px;
  border-radius: 12px;
}

/* .testimonials-client {
  padding: 4rem 0;
}

.customer-test .customer-test-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-black);
}

.customer-test .customer-test-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
}

.customer-testimonials {
  display: flex;
  max-width: 1100px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.customer-testimonials__intro {
  width: 35%;
  padding-right: 40px;
}

.customer-testimonials__heading {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 15px;
}

.customer-testimonials__desc {
  font-size: 16px;
  color: #333;
}

.customer-testimonials__slider {
  height: 900px;
  gap: 2rem;
  display: flex;
  overflow: hidden;
  position: relative;
}

.customer-testimonials__column {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.customer-testimonials__list {
  gap: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling on iOS */
  /* scroll-behavior: smooth;
}

.customer-testimonials__scroll-up {
  animation: scroll-up 50s linear infinite;
}

.customer-testimonials__scroll-down {
  animation: scroll-down 50s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.customer-testimonials__box {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.customer-testimonials__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
}

.customer-testimonials__stars i {
  color: var(--color-primary-button);
  height: 24px;
  width: 24px;
}

.customer-testimonials__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customer-testimonials__author .author-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
}

.customer-testimonials__author .author-text span {
  font-weight: 400;
}

.customer-testimonials__fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 1));
  z-index: 2;
} */ 

.frequently-questions {
  background-color: var(--color-primary);
  padding: 5rem 0;
}

.frequently-asked-questions .frequently-asked-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
}

.frequently-asked-questions .frequently-asked-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-white);
}

.customer-faq {
  margin-top: 40px;
}

.customer-faq__item {
  border-bottom: 1px solid var(--color-white);
}

.add-border-top {
  border-top: 1px solid var(--color-white);
}

.customer-faq__question {
  width: 100%;
  text-align: left;
  padding: 1.4rem 0;
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  color: var(--color-white);
}

.customer-faq__question::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  pointer-events: none;
  color: var(--color-white);
}

.customer-faq__question.active::after {
  transform: rotate(180deg);
}

.customer-faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 15px 0 0;
}

.customer-faq__answer p {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-white);
}

.cta {
  background-color: var(--color-primary);
  padding: 5.5em 0;
}

.cta-content .cta-heding {
  color: var(--color-primary-light);
  letter-spacing: 0;
  line-height: 120%;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.cta-content .cta-title {
  color: var(--color-primary-light);
  letter-spacing: 0;
  line-height: 150%;
  font-size: 18px;
  font-weight: 400;
}

.cta-btn-set {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
}

.cloth-image {
  background: url(../img/brand-clothing.png);
  height: 616px;
  width: 616px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.footer {
  background-color: var(--color-black);
  padding: 5.2rem 0;
}

.footer-logo {
  font-size: 28px;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: -3%;
  color: var(--color-white);
}

.footer-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-white);
  margin: 2rem 0 5rem 0;
}

.list-of-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.list-of-item:hover {
  transform: translateX(-5px);
}

.footer-social-icons {
  display: flex;
  gap: 1rem;
}

.footer-social-icons a i {
  font-size: 24px;
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.footer-social-icons a i:hover {
  transform: scale(0.8);
}

.footer-bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-white);
}

.bottom-footer-links {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  text-decoration: underline;
  color: var(--color-white);
  display: flex;
  justify-content: end;
}

/* How-IT-Works-page ----------------- */

.how-works {
  margin-top: 78px;
  padding: 6.75rem 0 2rem 0;
}

.how-works-heading {
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 56px;
  color: var(--color-black);
}

.how-works-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
}

.we-work {
  padding: 5rem 0;
}

.we-work-step {
  margin-bottom: 4rem;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
}

.we-work-title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0;
  margin-bottom: 0;
  font-family: "Suisse Intl Cond", sans-serif;
}

.we-work-step::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 0%;
  background-color: var(--color-primary-button);
  transition: height 0.3s ease;
}

.we-work-step.active::before {
  height: 100%;
}

.we-work-content {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
  padding-top: 10px;
}

.we-work-content.active {
  display: block;
}

.we-work-step-card {
  background: url(../img/how\ it\ works\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 616px;
  width: 616px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.we-work-step-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 219, 219, 0.2);
  border-radius: 8px;
  z-index: 1;
}

.upload-box-add {
  width: 336px;
  height: 250px;
  border-radius: 18.24px;
  background-color: var(--color-white);
  position: relative;
  z-index: 2;
  animation: slideInUp 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
}

@keyframes slideInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.upload-box-add.active {
  animation: slideInUp 0.8s ease-out forwards;
}

.upload-box-add::after {
  position: absolute;
  content: "";
  background: url(../img/file-up.png);
  height: 50px;
  width: 50px;
  top: 45%;
  left: 50%;
  background-repeat: no-repeat;
}

.uplode-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uplode-text p {
  margin-bottom: 0;
  font-size: 21.29px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}

.uplode-text i {
  color: #e6e1e1;
  font-size: 20px;
}

.uplode-text {
  border-bottom: 1.52px solid #f2f2f2;
  padding: 0.94rem 1.5rem;
  display: flex;
  align-items: center;
}

.work-align-change {
  align-items: center;
}

/* About-Us-Page ------------------- */

.about-us {
  margin-top: 75px;
  padding: 3.01rem 0;
}

.about-heading {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--color-black);
}

.about-description {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
}

.about-step-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-black);
  position: relative;
}

.about-step-title {
  color: var(--color-black);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
}

.addspace-about-one {
  padding: 4.5rem 0;
}

.addspace-about-two {
  padding: 4.5rem 0;
  overflow-x: scroll;
}

.timeline-align {
  display: flex;
  align-items: center;
}

.fake-col-1 {
  width: 2%;
}

.fake-col-2 {
  width: 97%;
}

.timeline-circle {
  width: 25px;
  height: 25px;
  background-color: var(--color-primary-button);
  border: 5px solid white;
  border-radius: 50%;
}

.about-step-heading {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

.about-step-title {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.our-promise {
  background-color: var(--color-secondary);
  padding: 6.84rem 0;
}

.our-promise-heading {
  color: var(--color-primary-light);
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.our-promise-title {
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.our-promise-subheading {
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-primary-light);
  margin-bottom: 1.2rem;
}

.our-promise-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-primary-light);
}

.core-values {
  padding: 100px 20px 0 20px;
}

.core-values-title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.red-dot {
  color: #ff0000;
}

.value-column {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-values {
  margin: 0 0 0 auto;
}

.value-item {
  margin-bottom: 4rem;
  position: relative;
  width: 80%;
}

.value-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}

.title-two {
  text-align: right;
}

.value-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.left-values .value-description {
  text-align: left;
}

.right-values .value-description {
  text-align: right;
}

.value-underline {
  width: 100%;
  height: 1px;
  background-color: var(--color-primary-button);
  margin-top: 5px;
}

.red-underline {
  background-color: var(--color-primary-button);
  height: 1px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-image {
  width: auto;
  height: 700px;
}

/* contact-us page ---------------- */
.contact-us {
  margin-top: 78px;
  padding: 4.92rem 0;
}

.contact-info {
  text-align: left;
  padding: 20px;
}

.contact-info .contact-heading {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--color-black);
  margin-bottom: 1.5rem;
}

.contact-info .contact-title {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-black);
  margin: 10px 0;
}

.contact-info-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}



.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}



.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
  margin-bottom: 0.5rem;
}

.contact-form .text-area {
  min-height: 180px;
}

.contact-form .text-area::placeholder {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-black);
  opacity: 0.5;
}

.contact-form .form-control {
  padding: 11px;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  width: 100%;
}

.contact-form .form-check-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-black);
  margin-bottom: 0;
}

.contact-form .form-check-label a {
  color: var(--color-black);
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.8rem 0;
}

.contact-info-item i {
  font-size: 20px;
  color: var(--color-black);
}

.contact-info-item a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.file-upload-wrapper {
  position: relative;
}

.custom-file-area {
  padding: 11px 20px;
  background-color: #f8f9fa;
  border: 1px dashed var(--color-black);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  width: 100%;
}

#file-name {
  color: var(--color-black);
  font-size: 14px;
}



/* gallery page ------------- */

.gallery {
  background-color: var(--color-black);
  padding-top: 100px !important;
  padding: 2rem 0;
  padding-bottom: 150px;
}

.gallery-faq {
  margin-top: 0;
}

.gallery-align {
  text-align: center;
}

.gallery-align p {
  color: var(--color-primary-button);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.gallery-align h1 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.gallery-align h1 span {
  color: var(--color-primary-button);
}

.add-space-gallery {
  gap: 32px;
}

.gallery-1-img img,
.gallery-5-img img,
.gallery-6-img img {
  height: 416px;
  width: 416px;
  border-radius: 12px;
  object-fit: cover;
}

.gallery-2-img img,
.gallery-7-img img {
  height: 500px;
  width: 416px;
  border-radius: 12px;
  object-fit: cover;
}

.gallery-3-img img,
.gallery-4-img img {
  height: 234px;
  width: 416px;
  border-radius: 12px;
  object-fit: cover;
}

#timeline-container {
  position: relative;
  padding: 65px 15px 0 30px;
  display: flex;
  margin-top: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
}

#timeline-container::-webkit-scrollbar {
  display: none;
}

.timeline-wrapper {
  display: inline-block;
  min-width: 100%;
  position: relative;
  padding: 50px 0;
  transition: transform 0.5s ease;
}

.timeline-fixed-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 205px;
  height: 2px;
  background-color: var(--color-primary-button);
  z-index: 1;
  pointer-events: none;
}

.timeline-event {
  display: inline-block;
  width: 33.33%;
  position: relative;
  vertical-align: top;
  white-space: normal;
}

#timeline-container.scrollable .timeline-event {
  width: 34%;
}

.timeline-event-dot {
  width: 25px;
  height: 25px;
  background-color: var(--color-primary-button);
  border-radius: 50%;
  position: absolute;
  top: 25px;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 5px solid var(--color-white);
  pointer-events: none;
}

.timeline-event-content {
  padding: 20px 10px;
  max-width: 100%;
}

.timeline-event:nth-child(odd) .timeline-event-content {
  margin-top: 30px;
}

.timeline-event:nth-child(even) .timeline-event-content {
  margin-bottom: 80px;
  margin-top: -120px;
}

.timeline-event-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 140%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-black);
}

.timeline-event-description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-black);
}

.set-top-border {
  position: relative;
}

.set-top-border::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 98%;
  top: 0;
  left: 1%;
  background-color: var(--color-white);
}

.contact-list {
  transition: all 0.3s ease-in-out;
}

.contact-list:hover {
  transform: translateX(-5px);
}

.upload-box-add {
  display: none;
}

.upload-box-add.active {
  display: block;
}

/* Media Queries for Responsiveness */

@media (max-width: 1441px) {
  .gallery-slide {
    /* width: 95.5%; */
  }
}

@media (max-width: 1400px) {
  .cloth-image {
    height: 550px;
    width: 550px;
  }

  .we-work-step-card {
    height: 530px;
    width: auto;
  }

  .slider-phase {
    width: unset;
  }
}

@media (max-width: 1300px) {
  .cloth-card {
    width: 295px;
  }
}

@media (max-width: 1201px) {
  .mobile-view-hide {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hero-section {
    height: unset;
  }

  .hero-content-align {
    flex-direction: column-reverse;
    padding: 7rem 0;
    row-gap: 5rem;
  }

  .hero-text h1 br,
  .hero-text p br {
    display: none;
  }

  .gallery-slide {
    /* width: 96%; */
  }

  .cta-btn-set {
    flex-direction: column;
  }

  .cta-btn-set a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cloth-image {
    height: 500px;
    width: 500px;
  }

  .gallery-1-img img,
  .gallery-5-img img,
  .gallery-6-img img {
    height: 416px;
    width: 100%;
  }

  .gallery-2-img img,
  .gallery-7-img img {
    height: 500px;
    width: 100%;
  }

  .gallery-3-img img,
  .gallery-4-img img {
    height: 234px;
    width: 100%;
  }

  #timeline-container {
    padding: 100px 15px 0 30px !important;
    margin-top: unset !important;
    overscroll-behavior: contain;
  }

  .timeline-fixed-line {
    top: 175px !important;
  }

  .timeline-event:nth-child(odd) .timeline-event-content {
    margin-top: 35px !important;
  }

  .timeline-event:nth-child(even) .timeline-event-content {
    margin-top: -150px !important;
  }

  .value-item {
    width: 70%;
  }

  .model-image {
    height: 600px;
  }
}

@media (max-width: 991px) {
  .cloth-content-section {
    row-gap: 3rem;
  }

  .footer-description {
    margin-bottom: 2rem;
  }

  .footer-social-icons {
    margin-bottom: 3rem;
  }

  .bottom-footer-links {
    justify-content: unset;
    margin-top: 1.5rem;
  }

  .remove-timeline {
    display: none;
  }

  .timeline-line {
    width: 3px;
    height: 100%;
    background-color: var(--color-primary-button);
  }

  .about-step-heading::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    background-color: var(--color-primary-button);
    border: 4px solid var(--color-white);
    border-radius: 50%;
    left: -37px;
  }

  .add-space-gallery {
    gap: 25px;
  }

  .gallery-align h1 {
    font-size: 30px;
  }

  .timeline-event:nth-child(even) .timeline-event-content {
    margin-top: -190px !important;
  }

  #timeline-container {
    padding: 145px 15px 0 30px !important;
  }

  .timeline-fixed-line {
    top: 220px !important;
  }

  .our-promise-heading br {
    display: none;
  }

  .hero-mobile-view-slide {
    width: 38%;
    padding-top: 3rem;
  }

  .image-container {
    display: none;
  }

  .value-item {
    width: 100%;
  }

  .value-underline {
    width: 95%;
  }

  .core-values-title {
    font-size: 4rem;
  }

  .value-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {

  .color-show-box,
  .labels-show-box {
    height: max-content;
    width: max-content;
  }

  .labels-show-box {
    left: -40%;
  }

  .color-show-box {
    right: -40%;
  }

  .hero-mobile-view-slide {
    width: 53%;
  }

  .logo-uplode-icon::after {
    height: 40px;
    width: 20px;
    right: -25px;
    background-size: 100%;
  }

  .slider-gallery .gallery-image-size {
    height: 300px;
    width: 300px;
  }

  .swiper-slide {
    width: 300px;
    height: 300px;
  }

  .customer-testimonials__slider {
    flex-direction: column;
    height: 680px;
  }

  .customer-testimonials__column {
    width: 100%;
  }

  .cloth-image {
    height: 500px;
    width: 500px;
  }

  .bottom-footer-links {
    gap: 1rem;
    flex-direction: column;
  }

  .we-work-step-card {
    height: 400px;
  }

  .gallery-align h1 {
    font-size: 26px;
  }

  .addspace-about-one {
    padding: 2rem 0;
  }

  #timeline-container {
    white-space: normal;
    padding: 30px 15px 0 20px !important;
    margin: unset;
  }

  .timeline-wrapper {
    width: 100% !important;
    padding: unset;
  }

  .timeline-fixed-line {
    left: 20px;
    top: 0px !important;
    bottom: 0;
    width: 2px;
    height: 72%;
    right: auto;
  }

  .timeline-event {
    width: 100% !important;
    display: block;
    padding-left: 12px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .timeline-event-dot {
    left: -12px;
    top: -5px;
    transform: none;
  }

  .timeline-event-content {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100%;
    text-align: left;
  }

  .timeline-event:nth-child(odd) .timeline-event-content,
  .timeline-event:nth-child(even) .timeline-event-content {
    margin: 0 !important;
  }

  .timeline-event-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .timeline-event-description {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .core-values-title {
    font-size: 3.5rem;
  }

  .image-container {
    order: -1;
    margin-bottom: 40px;
  }

  .image-placeholder {
    height: 500px;
  }
}

@media (max-width: 650px) {
  .cloth-card {
    width: 280px;
    height: unset;
  }

  .cloth-image {
    height: 450px;
    width: 450px;
  }
}

@media (max-width: 575px) {
  .core-values-title {
    font-size: 3rem;
  }

  .image-placeholder {
    height: 450px;
  }
}

@media (max-width: 550px) {
  .cloth-card {
    width: 220px;
    height: unset;
  }

  .hero-mobile-view-slide {
    width: 40%;
  }

  .cloth-image {
    height: 380px;
    width: 380px;
  }

  .home-nav-btn-align {
    gap: unset;
  }

  .navbar {
    padding: 14.3px;
  }
}

@media (max-width: 500px) {
  .timeline-event {
    padding-right: unset !important;
  }

  #timeline-container {
    padding: 0px 15px 0 8px !important;
  }

  .timeline-fixed-line {
    left: 8px;
  }

  .timeline-event {
    padding-bottom: 0;
  }

  .timeline-event-description {
    margin-bottom: 0.5rem;
  }

  .hero-mobile-view-slide {
    width: 225px;
  }

  .value-item {
    width: 90%;
  }

  .value-title {
    line-break: anywhere;
  }
}

@media (max-width: 425px) {
  .hero-content-align {
    padding: 5rem 0;
  }

  .service-box {
    padding: 17px 0;
  }

  .service-box-add {
    padding: 2rem 0;
  }

  .home-nav-btn-align {
    gap: unset;
  }

  .nav-btn-hide-show a {
    font-size: 14px !important;
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar-nav {
    height: 90vh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 3rem 0;
  }

  .nav-item .nav-link {
    font-size: 40px;
    line-height: 140%;
  }

  .hero-mobile-view-slide {
    width: 195px;
  }

  .cloth-card {
    width: 200px;
    height: unset;
  }

  .cloth-image {
    justify-content: center;
    display: flex;
    height: 335px;
    width: 335px;
  }

  .labels-show-box {
    right: -25%;
    left: unset;
    height: 82px;
    width: 110px;
  }

  .color-show-box {
    top: -8%;
    bottom: 20%;
    left: -25%;
    width: 90px;
    height: 101px;
  }

  .color-box-one,
  .show-box-one {
    padding: 0.3rem 0.2rem;
  }

  #moving-img {
    width: 12px !important;
  }

  .color-box-one i {
    font-size: 6px;
  }

  .show-box-one i {
    font-size: 8px;
  }

  .color-box-one p,
  .show-box-one p {
    font-size: 7px;
  }

  .cloth-slide-text .slide-text-one {
    font-size: 10px;
  }

  .cloth-slide-text .slide-text-two {
    font-size: 9px;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .cloth-all-text .clothing-heading {
    font-size: 36px;
  }

  .btn-primary-custom {
    width: 100%;
    justify-content: center;
  }

  .brand-clothing {
    padding: 3.84rem 0;
  }

  .hero-mobile-view-btn {
    flex-direction: column;
  }

  .logo-uplode-icon::after {
    width: 18px;
    height: 50px;
    right: -50px;
    top: -15px;
  }

  .carousel-indicators {
    margin-bottom: 0;
  }

  .service-box h6 {
    font-size: 20px;
  }

  .slider-gallery .gallery-image-size {
    height: 144px;
    width: 144px;
  }

  .swiper-slide {
    width: 144px;
    height: 144px;
  }

  .our-gallery-pagination {
    margin-top: 40px;
  }

  .gallery-content .gallery-heading {
    font-size: 36px;
  }

  .gallery-content .gallery-title {
    font-size: 16px;
  }

  .our-gallery {
    padding: 3.6rem 0;
  }

  .testimonials-client {
    padding: 4.37rem 0;
  }

  .customer-test .customer-test-heading {
    font-size: 36px;
  }

  .customer-test .customer-test-title {
    font-size: 16px;
  }

  .cloth-all-text .clothing-paragraph {
    font-size: 16px;
  }

  .frequently-asked-questions .frequently-asked-heading {
    font-size: 36px;
  }

  .frequently-asked-questions .frequently-asked-title {
    font-size: 16px;
  }

  .frequently-asked-questions .frequently-asked-title br {
    display: none;
  }

  .frequently-questions {
    padding: 8.22rem 0;
    margin-top: 0;
  }

  .faq-mobile {
    padding: 6rem 0;
    margin-top: 75px;
  }

  .cta-content .cta-heding {
    font-size: 32px;
  }

  .cta-content .cta-title {
    font-size: 16px;
  }

  .cta {
    padding: 4rem 0;
  }

  .footer {
    padding: 3.44rem 0;
  }

  .how-works-heading {
    font-size: 40px;
  }

  .how-works-description {
    font-size: 16px;
  }

  .how-works {
    padding: 3.89rem 0;
  }

  .we-work-title {
    font-size: 24px;
  }

  .work-align-change {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .upload-box-add {
    width: 200px;
    height: 148px;
  }

  .uplode-text {
    padding: 0.5rem;
  }

  .uplode-text p {
    font-size: 12.67px;
  }

  .upload-box-add::after {
    top: 35%;
  }

  .we-work-step-card {
    height: 335px;
    width: auto;
  }

  .we-work {
    padding: 2.34rem 0;
  }

  .we-work-step {
    margin-bottom: 3rem;
  }

  .core-values-image .our-promise-image {
    display: none;
  }

  .our-promise-heading {
    font-size: 36px;
  }

  .our-promise-subheading {
    font-size: 24px;
  }

  .our-promise {
    padding: 3.92rem 0;
  }

  .our-promise-description {
    margin-bottom: 0;
  }

  .contact-info .contact-heading {
    font-size: 36px;
  }

  .contact-info .contact-title {
    font-size: 16px;
  }

  .contact-us {
    margin-top: 75px;
    padding: 2.45rem 0;
  }

  .contact-form {
    gap: 10px;
    padding: 15px;
  }

  .contact-btn {
    width: fit-content;
  }

  .form-check {
    margin-top: 0.5rem;
  }

  .gallery-1-img img,
  .gallery-5-img img,
  .gallery-6-img img {
    height: 335px;
    width: 335px;
    border-radius: unset;
  }

  .gallery-2-img img,
  .gallery-7-img img {
    height: 402px;
    width: 335px;
    border-radius: unset;
  }

  .gallery-3-img img,
  .gallery-4-img img {
    height: 188px;
    width: 335px;
    border-radius: unset;
  }

  .gallery-photo {
    padding: 0;
    justify-content: center;
    display: flex;
  }

  .gallery-align h1 {
    font-size: 24px;
    padding: 0 1rem;
  }

  .gallery {
    padding: 3.19rem 0;
  }

  .gallery-align h1 br {
    display: none;
  }

  .about-us {
    padding: 2.2rem 0 2.95rem 0;
  }

  .addspace-about-one {
    padding: 2rem 0 3.7rem 0;
  }

  .about-description {
    font-size: 16px;
  }

  .frequently-asked-questions {
    margin-bottom: 4rem;
  }

  .core-values-container {
    padding: 30px 15px;
  }

  .core-values-title {
    font-size: 4.5rem;
  }

  .core-values {
    padding: 70px 10px 0 10px;
  }

  .value-title {
    font-size: 1.4rem;
  }

  .value-description {
    font-size: 13px;
  }

  .image-placeholder {
    height: 400px;
  }
}

@media (max-width: 380px) {
  .hero-mobile-view-slide {
    width: 220px;
  }
}

@media (max-width: 360px) {
  .cloth-image {
    height: 300px;
    width: 300px;
  }
}

/* min-width ---------------- */

@media (min-width: 1200px) {
  .nav-btn-hide-show {
    display: none;
  }
}

@media (min-width: 426px) {
  .core-values-image .our-promisetwo-image {
    display: none;
  }
}